<body>

  <div id="tg-wrapper" class="tg-wrapper tg-haslayout">

    <header id="tg-header" class="tg-header tg-haslayout">
      <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="row">
            <div class="tg-topbar tg-haslayout">
              <nav id="tg-topaddnav" class="tg-topaddnav">

                <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">

                  <div class="tg-colhalf pull-right">
                    <nav class="tg-addnav">
                      <ul>
                        <li>
                          <a>
                            <i routerLink="/dreamTeam">Dream Team</i>
                          </a>
                        </li>
                        <li>
                          <a>
                            <i routerLink="/profile">Profile</i>
                          </a>
                        </li>
                        <li><a  data-toggle="modal" data-target="#tg-register">Logout</a></li>
                      </ul>
                    </nav>
                  </div>

                </div>
              </nav>
            </div>
            <nav id="tg-nav" class="tg-nav brand-center">
              <div class="navbar-header">
                <strong class="tg-logo">
                  <a href="index-2.html"><img src="../../assets/images/logo.png" alt="image description"></a>
                </strong>
              </div>

              <div id="tg-navigation" class="tg-navigation">
                <div class="tg-colhalf">

                </div>
                <div class="tg-colhalf">

                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="tg-sliderbox">
      <div class="tg-imglayer">
        <img src="../../assets/images/bg-pattran.png" alt="image desctription">
      </div>

      <div id="tg-home-slider" class="tg-home-slider tg-haslayout">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <figure class="floating">
                <img src="../../assets/images/slider/img-01.png" alt="image description">
              </figure>
              <div class="tg-slider-content">
                <h1>alive and <span>kickin</span></h1>
                <div class="tg-btnbox">
                  <a class="tg-btn" routerLink="/dreamTeam"><span>Dream Team</span></a>
                  <a class="tg-btn"><span>book my ticket</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--************************************
				Main Start
		*************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
      <!--************************************
					About Us Start
			*************************************-->
      <section class="tg-main-section tg-haslayout">
        <div class="container">
          <div class="tg-section-name">
            <h2>About pro soccer</h2>
          </div>
          <div class="col-sm-11 col-xs-11 pull-right">
            <div class="row">
              <div class="tg-aboutussection">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <figure>
                      <img src="../../assets/images/img-01.jpg" alt="image description">
                    </figure>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="tg-contentbox">
                      <div class="tg-section-heading">
                        <h2>Pro soccer[Ticket booking service]</h2>
                      </div>
                      <div class="tg-description">
                        <p> <b>Pro soccer</b> is more than an ordinary soccer-dedicated web site.

                          We are a team of fervent football fans who live and breathe the most beautiful game and who
                          are keen to share their passion and excitement with the rest of the world. Our mission is
                          simple – we want to allow all football fans to be able to form up their dream lineups .

                          Fans who are looking for the best ticket price deals can also turn to <b>Pro soccer</b> for
                          help
                          since our soccer tickets section will allow them to find tickets for all the desired soccer
                          events at the best prices.
                          .</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class=" tg-haslayout tg-bgstyleone">
        <div class="tg-bgboxone"></div>
        <div class="tg-bgboxtwo"></div>
        <div class="tg-bgpattrant">
          <div class="container">
            <div class="row">
              <div class="tg-upcomingmatch-counter">
                <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                  <figure>
                    <img src="../../assets/images/img-02.png" alt="image description">
                  </figure>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="tg-contentbox">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="tg-main-section tg-haslayout">
        <div class="container">
          <div class="tg-section-name">
            <h2>fixtures</h2>
          </div>
          <div class="col-sm-11 col-xs-11 pull-right">
            <div class="row">
              <div class="tg-latestresult">
                <div class="row">
                  <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="tg-contentbox">
                      <div class="tg-section-heading">
                        <h2>Pro soccer recommended fixtures</h2>
                      </div>
                      <div class="tg-description">
                        <p>Here with the DStv Premiership's most attended football matches, harry an get your self a
                          ticket</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-7 col-sm-12 col-xs-12">
                    <div id="tg-upcomingmatch-slider" class="tg-upcomingmatch-slider tg-upcomingmatch">
                      <div id="tg-playerscrollbar" class="tg-playerscrollbar swiper-wrapper">
                        <div class="swiper-slide ">
                          <div *ngFor="let fixture of fixtures" class="tg-match">
                            <div class="tg-matchdetail">
                              <div class="tg-box">
                                <strong class="tg-teamlogo">
                                  <!-- <img src="../../assets/images/team-logo/logo-l-02.png" alt="image description"> -->
                                </strong>
                                <h3>{{fixture.homeTeam}}</h3>
                              </div>
                              <div class="tg-box">
                                <h3>vs</h3>
                              </div>
                              <div class="tg-box">
                                <strong class="tg-teamlogo">
                                  <!-- <img src="../../assets/images/team-logo/logo-l-02.png" alt="image description"> -->
                                </strong>
                                <h3>{{fixture.awayTeam}}</h3>

                              </div>
                            </div>
                            <div class="tg-matchhover">
                              <address>{{fixture.data +' at '+ fixture.stadium}}</address>
                              <div class="tg-btnbox">
                                <a class="tg-btn" (click)="bookTicket(fixture.fixtureId)" ><span>book my ticket</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer id="tg-footer" class="tg-footer tg-haslayout">
      <div class="tg-haslayout tg-footerinfobox">
        <div class="tg-bgboxone"></div>
        <div class="tg-bgboxtwo"></div>
        <div class="tg-footerinfo">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="tg-footercol">
                  <div class="tg-posttitle">
                    <h3>signup newsletter</h3>
                  </div>
                  <div class="tg-description">
                    <p>Adipisicing elit, sed do eiusmod tempor incidunta utiai labore et dolore magna si aliqua quis.
                    </p>
                  </div>
                  <form class="tg-form-newsletter">
                    <fieldset>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                      </div>
                      <button class="tg-btn" type="submit">signup</button>
                    </fieldset>
                  </form>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="tg-footercol">

                </div>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tg-footerbar">
        <div class="container">


        </div>
      </div>
    </footer>





  <router-outlet></router-outlet>

